################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CO2RegulationProject/.vs/CO2RegulationProject/v15
